{{#each items as |item|}}


  <div class="show-item-data" data-id="{{item.id}}">
    <h1>Name: {{item.name}}</h1>
    <h2>Notes: {{item.notes}}</h2>

  <form class="delete-item">
    <input type="submit" name="submit" value="Delete Item" class="delete-button">
    <input type="text" name="item[id]" class="delete-by-item-id" value={{item.id}} style="display: none">
</form>

<form class="update-item">
  <input type="submit" name="submit" value="Update Item" class="delete-button">
  <input type="text" name="item[id]" class="delete-by-item-id" value={{item.id}} style="display: none">
  <input type="text" name="item[name]" class="update-name" placeholder="update name">
  <input type="text" name="item[notes]" class="update-notes" placeholder="update notes">
</form>

<form class="update-active-status">
  <input type="submit" name="submit" value="Completed" class="update-status">
  <input type="text" name="item[id]" class="delete-by-item-id" value={{item.id}} style="display: none">
  <input type="text" name="item[active]" class="update-item" value=true style="display: none">
</form>
</div>

{{/each}}
