{{#each items as |item|}}


  <div class="show-item-data" data-id="{{item.id}}">
    <h1>Name: {{item.name}}</h1>
    <h2>Notes: {{item.notes}}</h2>

  <form class="delete-completed-item">
    <input type="submit" name="submit" value="Delete Item" class="delete-button">
    <input type="text" name="item[id]" id="delete-by-item-id" value={{item.id}} style="display: none">
</form>

<!-- <form id="update-item">
  <input type="submit" name="submit" value="Update Item" class="delete-button">
  <input type="text" name="item[id]" id="delete-by-item-id" value={{item.id}} style="display: none">
  <input type="text" name="item[name]" id="update-name" placeholder="update name">
  <input type="text" name="item[notes]" id="update-notes" placeholder="update notes">
</form> -->>

{{/each}}
